[submodule "src/AssemblyInfoVersion"]
	path = src/AssemblyInfoVersion
	url = https://github.com/duvaneljulien/AssemblyInfoVersion.git
[submodule "dotnet-versioning-scripts"]
	path = dotnet-versioning-scripts
	url = https://github.com/VaudoiseAssurances/dotnet-ci-scripts.git
